[alias]
	st = status -s -b
	cam = !git add . && git commit -m
	br = branch
	lg = log --oneline --decorate --all --graph
	ch = checkout
	cm = commit -m
	po = push origin
	pu = pull origin
	gbl-l = config --global --list
	gbl-u = config --global --unset
	rs = reset
[user]
	name = juan
	email = juan@github.io
